/* Núllstilla allt */
* {
  margin: 0;
  padding: 0;
}
  
html {
  box-sizing: border-box;
}
  
*, *:before, *:after {
  box-sizing: inherit;
}
#root {
 max-width: 1200px;
 width: 100%;
 margin: auto;
}

body {
  /* kemur í veg fyrir lárétt hopp þegar síða síkkar og fær scrollbar */
  overflow-y: scroll;
  height:100%;
  font-size: 16px;
  font-family: 'Open sans', sans-serif;
  background-image: url("../src/images/backgroundImage.jpg");
  background-attachment: fixed;
  background-size:cover;
}